{% extends 'base.html' %}

{% block title %}About me{% endblock %}

{% block content %}
<div class="text-center my-5">
    <h1>About me</h1>
    <hr class="w-25 mx-auto mb-4">

    <div>
        <img src="https://via.placeholder.com/150" alt="avatar" class="rounded-circle mb-3">
        <p class="lead">
            
        </p>
        <p>
           Hi! I'm Valentina, a developer in training, and this is my page created with Django.
           I am currently studying for a Bachelor's degree in Economics.
           I currently work in finance for a language interpretation and translation company, 
           and since the company is based outside of Argentina, 
           we use many platforms and tools to manage our collections and expenses. 
           This is why I decided to learn system development, 
           seeking to create a solution to the current management challenges I face.
        <p class="text-muted">
        </p>
    </div>
</div>
{% endblock content %}
